body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2e1e0;
}

header {
  text-align: center;
  color: #353535;
}
header > .title {
  font-family: "Bree Serif", serif;
  letter-spacing: 0.1rem;
}
header > .subtitle {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  word-spacing: 1.25px;
}

.content {
  width: 25%;
  max-height: 70%;
  background-color: #ffffff;
  overflow-y: auto;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.content::-webkit-scrollbar {
  width: 0.25em;
  border-radius: 0.5rem;
}

.content::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

.content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 0.5rem;
}

.content > .list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul.list > .item {
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  color: #353535;
  transition: all 0.25s ease-in;
}
ul.list > .item:hover {
  color: #d9d9d9;
  background-color: #284b63;
}
ul.list > .item:active {
  color: #d9d9d9;
  background-color: #3c6e71;
}

footer {
  margin-top: 0.25rem;
  text-align: center;
}
footer .text {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  word-spacing: 1.25px;
}

footer > a {
  text-decoration: none;
  color: #353535;
  padding: 0rem 0.25rem;
}

footer > a:hover {
  color: #284b63;
}
footer > a:active {
  color: #3c6e71;
}

@media (max-width: 1440) {
  .content {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .content {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .content {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .content {
    width: 90%;
  }
}
